<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297754277020-a9dle8q3q0n17o8l33fg9qks21j7bde5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297754277020-a9dle8q3q0n17o8l33fg9qks21j7bde5</string>
	<key>API_KEY</key>
	<string>AIzaSyAWGPUmoXg9o101q29rNd5U0s5iUvakGFE</string>
	<key>GCM_SENDER_ID</key>
	<string>297754277020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.padel</string>
	<key>PROJECT_ID</key>
	<string>padel-5bb05</string>
	<key>STORAGE_BUCKET</key>
	<string>padel-5bb05.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:297754277020:ios:6a54819a2ab003568b2959</string>
</dict>
</plist>
